:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-blue-gray: #333652DD;
  --color-blue-gray-dark: #292B44;
  --color-white: #E9EAECDD;
  --color-white-dark: #C7C7C7DD;
  --color-red: #800028;
  --color-red-light: #E32227;
  --color-gray: #808080;
  --color-space-gray: #232830DD;
  --color-green: #338600;
  --color-mustard: #99AA00AA;
  --color-teal: #00AA99AA;
  --color-black: #000000DD;
  --color-yellow: #FAD02C;

  --color-text: var(--color-blue-gray);
  --color-text-inverted: var(--color-white);
  --color-text-disabled: var(--color-gray);
  --color-bg: var(--color-white);
  --color-bg-inverted: var(--color-blue-gray);
  --color-outline: var(--color-blue-gray);
  --color-action: var(--color-white);
  --color-action-bg: var(--color-red);
  --color-action-create: var(--color-green);
  --color-action-delete: var(--color-red-light);
  --color-border: var(--color-blue-gray);
  --color-card-text: var(--color-white);
  --color-card-bg: var(--color-blue-gray);

  color-scheme: light dark;
  color: var(--color-text);
  background-color: var(--color-bg);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: var(--color-white);
    --color-text-inverted: var(--color-blue-gray);
    --color-bg: var(--color-blue-gray);
    --color-bg-inverted: var(--color-white);
    --color-outline: var(--color-white);
    --color-border: var(--color-white);
    --color-card-text: var(--color-white);
    --color-card-bg: var(--color-space-gray);
  }
}

/*
  CSS RESET https://www.joshwcomeau.com/css/custom-css-reset/
*/

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/*
  My preferences
*/
img, picture, video, canvas, svg {
  width: 100%;
  max-width: 100%;
}

main {
  height: 100%;
}

#app {
  --top-navbar-height: 4rem;
  --bottom-navbar-height: 6rem;
  overflow: hidden;
  display: grid;
  height: 100%;
  z-index: 0;
  position: relative;
}
