:root {
  --color-white: #E9EAECDD;
  --color-blue-gray: #333652DD;
  --color-space-gray-dark: #1B1E24DD;

  --color-fg: var(--color-space-gray-dark);
  --color-border: var(--color-white);

  background-color: var(--color-blue-gray);
  color: var(--color-white);

  /* code blocks */
  --code-block-ts-keyword: #b48ead;
  --code-block-ts-property: #b48ead;
  --code-block-ts-imported-property: #8fa1b3;
  --code-block-ts-string: #a3be8c;
  --code-block-ts-interpolated-string: #a3be8c;
  --code-block-ts-literal: #8fa1b3;
  --code-block-ts-comment: #65737e;
  --code-block-ts-number: #d0876e;
}
